rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Datos/{documents=**}{
    	allow read, write: if true;
    }
    match /Administrador/{documents=**}{
    	allow read, write: if true;
    }
  }
}